body {
    margin: 0;
}

/*display flex*/
#selectWindow form ,#wrapper ,#signupBox form ,#signupBox, #loginMethodBox ,#wrapper {
    display: flex;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
}

#loginMethodBox {
    background-color: burlywood;
    height: 80vh;
    width: 30vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

#loginMethodBox a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    height: 30%;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    transition: width 0.2s, height 0.2s;

}

#loginButton {
    background-color: white;
}

#signupButton {
    background-color: coral;
}


#loginMethodBox a:hover {
    background-color: purple;
    color: white;
    border: 2px solid white;
    height: 35%;
    width: 45%;
}

#signupBox {
    justify-content: center;
    height: 100vh;
    width: 70vw;
    background-color: coral;
}

#signupBox form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#signupBox form input {
    flex-direction: column;
    margin: 2px;
}


#monsterStats ,#monsterName ,#gameWrapper ,#gameSCLeft ,#gameSCRight ,#gameInfoWindow ,#playerItemInfoWindow ,#monsterWindow ,#selectWindow form ,#selectWindow ,#monsterWindowTop ,#monsterWindowBottom ,.selectOption {
    display: flex;
}


#gameWrapper {
    display: flex;
    background-color: red;
    width: 100vw;
    height: 100vh;
}

#gameSCLeft {
    flex: 3;
    flex-direction: column;
}

#gameSCRight {
    flex: 2;
    flex-direction: column;
}

#gameInfoWindow {
    flex: 8;
    flex-direction: column;
    overflow: auto;
    background-color: #3B3B3B;
    font-family: Calibri;
    font-size: 3vh;
    color: white;
    padding-left: 3vw;
    background-image: url("../../QuestyjsAssets/UI/Backgrounds/GameInfoView.png");
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    background-position: center;
}

.addedInfo {
    margin-bottom: 2px;
    margin-top: 2px;
}

#playerItemInfoWindow {
    flex: 3;
    background-color: #9E9E9E;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("../../QuestyjsAssets/UI/Backgrounds/ItenInfoView.png");
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    background-position: center;
}

#playerItemInfoWindow p {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-left: 2vw;
}

#monsterWindow {
    width: 100%;
    height: 100%;
    flex: 8;
    flex-direction: column;
    background-color: #BFFFF9;
}

#monsterWindowTop {
    flex: 1;
    font-family: Calibri
}

#monsterName {
    flex: 2;
    margin-left: 2vw;
    align-items: center;
}

#monsterStats {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 2vw;
}


#monsterWindowBottom {
    flex: 5;
    background-color: blue;
}

#monsterSprite {
    height: 100px;
    width: 100px;
}

#selectWindow {
    flex: 3;
    display: flex;
    background-color: #949494;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("../../QuestyjsAssets/UI/Backgrounds/SelectView.png");
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
    background-position: bottom left;
}

#selectWindow button {
    background-color: #ba8044;
    border: 0px;
    height: 40%;
    width: 40%;
    font-size: 130%;
}



.menuButton {
    background-repeat: no-repeat, repeat;
    background-size: 73%;
    background-position: center;
    height: 100%;
} 

/*Fight Button-----------------------------------------------------------------------------------*/
#fightBut {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Fight/FightBut.png");
}
#fightBut:hover {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Fight/FightButHover.png");
}
#fightBut:active {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Fight/FightButPressed.png");
}
/*-----------------------------------------------------------------------------------------------*/

/*Run Button-------------------------------------------------------------------------------------*/
#runBut {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Run/RunBut.png");
}
#runBut:hover {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Run/RunButHover.png");
    
}
#runBut:active {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Run/RunButPressed.png");
}
/*-----------------------------------------------------------------------------------------------*/

/*Items Button-----------------------------------------------------------------------------------*/
#itemsBut {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Items/ItemsBut.png");
}
#itemsBut:hover {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Items/ItemsButHover.png");
    
}
#itemsBut:active {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Items/ItemsButPressed.png");
}
/*-----------------------------------------------------------------------------------------------*/

/*Quit Button-----------------------------------------------------------------------------------*/
#quitBut {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Quit/QuitBut.png");
}
#quitBut:hover {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Quit/QuitButHover.png");
    
}
#quitBut:active {
    background-image: url("../../QuestyjsAssets/UI/SelectVewButtons/Quit/QuitButPressed.png");
}
/*-----------------------------------------------------------------------------------------------*/